<h1>Articles List</h1>
<%= link_to "New Article", new_article_path %>
<% @articles.each do |article|  %>
    <lable> <h3> Article Id</h3> </lable>
    <%=  article.id %><br>
    <lable> <h3>Article Title </h3></lable>
    <%= link_to article.title, article %>
    </a>
    <lable> <h3>Article Body</h3> </lable>
    <%=  article.body %><br>

    <%= render  partial: 'actions' , locals:{article: article}%>
    <hr>
<% end %>





